.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header.css */

header {
  text-align: center;
  background-color: #f9f9f9;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

nav {
  display: flex;
  justify-content: space-around;
  border: 3px solid black;
  padding: 8px;
  width: 90%;
  margin: auto;
}

nav div {
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}

nav div:hover {
  transform: scale(1.1); /* Add a slight scale effect on hover */
}

button {
  margin-top: 1rem;
  background-color: transparent;
  border: 1px solid #333;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
  background-color: #333;
  color: #f9f9f9;
}

/* Add more styles for the dark mode if needed */


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* About.css */

.about-container {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #333333;
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  color: #777777;
  font-size: 18px;
  margin-bottom: 15px;
}

.social-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  margin-bottom: 10px;
}

.social-links a {
  display: flex;
  align-items: center;
  color: #007bff;
  text-decoration: none;
  font-size: 16px;
}

.social-links a i {
  font-size: 20px;
  margin-right: 10px;
}

.social-links a:hover {
  text-decoration: underline;
}

/* Dark Mode Styles */
.dark-mode {
  color: #f8f8f8;
  background-color: #333;
}

.dark-mode h2 {
  color: #f8f8f8;
}

.dark-mode h3 {
  color: #dddddd;
}

.dark-mode .social-links a {
  color: #f8f8f8;
}

/* Light Mode Styles */
.light-mode {
  color: #333;
  background-color: #f8f8f8;
}

.light-mode h2 {
  color: #333;
}

.light-mode h3 {
  color: #777777;
}

.light-mode .social-links a {
  color: #007bff;
}

/* Add more styles for dark and light mode as needed */

